div.stars {
  display: inherit;
}

input.star {
  display: none;
}

label.star {
  float: right;
  /*padding: 10px;*/
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '★ ';
  color: #c59b08;
  transition: a#c59b08;ll .25s;
}

input.star5:checked ~ label.star:before {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}

input.star1:checked ~ label.star:before {
  color: #f62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '★ ';
  /*font-family: FontAwesome;*/
}
